# Python cache — never commit these
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Secrets & Local DBs
credentials.json
token.json

.adk/

# OS files
.DS_Store